# VS Code workspace settings
/.vscode

# Code Runner extension
/**/tempCodeRunnerFile.cpp

# Executables
/problems/**/*
!/problems/**/
!/problems/**/*.c
!/problems/**/*.py
!/problems/**/*.cpp
!/problems/**/*.md
!/problems/**/*.js
!/problems/**/*.ts
/**/1.py
